<ul>
  <% if(!currentUser){ %>
    <a href = "/register"><li> Signup </li> </a>
    <a href = "/login"><li> Log in </li> </a>
  <% } else { %>
    <a> Signed In as <%= currentUser.username %></a>
    <a href = "/logout"><li> Logout </li> </a>
  <% } %>
</ul>

<% if(error && error.length>0){ %>
  <b> <%= error %> </b>
<% } %>
<% if(success && success.length>0){ %>
  <b> <%= success %> </b>
<% } %>

<h1> Add file </h1>

<form action="/campgrounds" method="POST">
  <input type="text" placeholder="Title" name="name">
  <input type="text" placeholder="Image URL" name="image">
  <input type="text" placeholder="Description" name="desc">
  <button> Submit </button>
</form>
