<h1> Add file </h1>

<form action="/campgrounds" method="POST">
  <input type="text" placeholder="Title" name="name">
  <input type="text" placeholder="Image URL" name="image">
  <input type="text" placeholder="Description" name="desc">
  <button> Submit </button>
</form>
